* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-diego {
  display: flex;
  justify-content: center;
  align-items: center;
}